.container {
    margin-top: 330px;
    display: flex;
    flex-direction: column;
}

.blocContainer {
    display: flex;
    width: 180px;
    margin-top: 95px;
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 5px 20px 20px 20px;
}

.containerEnergy {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.paraf {
    font-size: 1.2em;
    font-family: "Roboto-Bold";
    margin-bottom: 5px;
}

.subtitle {
    color: #74798C;
}

.iconeKcal {
    width: 30px;
    margin-top: 20px;
    background-color: #ff000055;
    border-radius: 5px;
    padding: 10px;
}

.iconeProt {
    width: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #49b9ff4c;
}

.iconeGlu {
    width: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fccb094c;
}

.iconeLip {
    width: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fd50814c;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: 90px;
    }

    .blocContainer {
        padding: 5px 5px 15px 15px;
        margin-top: 40px;
        margin-left: 80px;
    }
    .paraf {
        font-size: 1em;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 0.8em;
        color: #74798C;
    }
    .iconeKcal {
        width: 20px;
    }
    
    .iconeProt {
        width: 20px;
    }
    
    .iconeGlu {
        width: 20px;
    }
    
    .iconeLip {
        width: 20px;  
    }
}