.section {
    position: absolute;
    width: 92%;
    top: 95px;
    left: 120px;
}
.title {
    font-weight: 800;
    font-size: 3em;
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 0;
}
.name {
    color: red;
}
.text {
    font-size: 1.2em;
    margin-left: 120px;
}

.containerCharts {
    margin-top : 60px;
}

.treeCharts {
    display: flex;
    gap: 50px;
}
