.radarChart {
    width: 358px;
    height: 358px;
    background-color: #000000;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .radarChart {
        width: 190px;
        height: 190px;
    }
}
